.divomg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divomg img{
    width: 55vw;
    height: auto;
}
.p{
    text-align: center;
    font-size: 3.5rem;
    color: #2e265d;
    position: relative;
    top: 10px;
}
.img2{
  width: 100%;
}