@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@300;500&family=Pushster&display=swap");
body {
  font-family: 'Poppins',sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}